
	.key {
  			font: 25px 'Molengo';
  			line-height: 30px;
  			color: #000;
  			display: inline-block;
  			padding: 6px 10px 3px 10px;
  			text-shadow: none;
  			letter-spacing: 0;
  			bottom: 10px;
  			position: relative;
  			border-radius: 10px;
  			background: #fff;
  			-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px;
  			vertical-align: sub;
  			padding: 1px 6px 1px;
  			margin: 0px 7px;
  			font-size: 13px;
		}

  .opaque { 
    background-image: url(../img/shading/black-85-trans.png);
    -moz-border-radius: 10px;         /* FF/Moz */
    -webkit-border-radius: 10px;      /* Chrome */
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px;       /* Safari */
    -webkit-box-shadow: 3px 3px 4px #000; 
  }

  .bump {
    margin-top: 300px;
  }


  }


/*
  ----------------------------
  UTILITY CLASSES
  ____________________________
*/

.black-15 { background: url(img/shading/black-15-trans.png); color: #fff; padding: 4px 12px; margin: 24px 0; }
.black-35 { background: url(img/shading/black-35-trans.png); color: #fff; padding: 4px 12px; margin: 24px 0; }
.black-50 { background: url(img/shading/black-50-trans.png); color: #fff; padding: 4px 12px; margin: 24px 0; }
.black-65 { background: url(img/shading/black-65-trans.png); color: #fff; padding: 4px 12px; margin: 24px 0; }
.black-85 { background: url(img/shading/black-85-trans.png); color: #fff; padding: 4px 12px; margin: 24px 0; }


.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}